<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4  sm:px-6 sm:py-2 lg:max-w-7xl lg:px-8">
      <div class="d-flex flex-row justify-content-between mb-5">
        <h2 class="">Products</h2>
        <div class="example-button-container">
          <button mat-fab extended (click)="addProduct()">
            <mat-icon>create</mat-icon>
            New
          </button>
        </div>
      </div>
  
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
        <div class="group" *ngFor="let item of filteredProducts" (click)="openDialog('view',item)">
          <img [src]="item.imageUrl" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." 
          alt="Product Image" 
          (error)="item.imageUrl='https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-01.jpg'"
          class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
          <h3 class="mt-4 text-sm text-gray-700">{{item.name}}</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">{{item.price}}$</p>
          <small>{{item.description}}</small>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (changePage)="goToPage($event)"></app-pagination>
      </div>
    </div>
  </div>
  
