<div
  class="d-flex flex-row justify-content-between mx-4 align-items-center border-bottom"
>
  <h2 mat-dialog-title class="font-bold">
    {{ status == "view" ? `${isEdit ? 'Edit' : 'Detail'}: ${item.name}` : "Create New Product" }}
  </h2>
  <button
    mat-icon-button
    aria-label="Example icon button with a open in new tab icon"
    (click)="isEdit = true"
    *ngIf="!isAddNewProduct"
  >
    <mat-icon>create</mat-icon>
  </button>
  <button
    mat-icon-button
    aria-label="Example icon button with a open in new tab icon"
    (click)="remove()"
    *ngIf="!isAddNewProduct"
  >
  <mat-icon>delete_sweep</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div class="product-card my-4">
    <div class="badge" *ngIf="!isEdit">Hot</div>
    <div class="product-tumb" *ngIf="!isEdit">
      <img [src]="item?.imageUrl" alt="" />
    </div>

    <div class="container p-5  pb-0" *ngIf="isEdit">
      <div class="file-upload-wrapper" *ngIf="!imageUrl">
        <label class="file-upload-box mb-0">
          <input
            type="file"
            class="file-upload-input"
            (change)="onFileSelected($event)"
            accept="image/*"
          />
          <div class="upload-content">
            <i class="fas fa-cloud-upload-alt upload-icon"></i>
            <h5 class="mb-2">Drag & Drop files here</h5>
            <p class="text-muted mb-0">or click to browse</p>
          </div>
        </label>
      </div>
      <div *ngIf="imageUrl">
        <p>Uploaded Image:</p>
        <img [src]="imageUrl" alt="Uploaded image" width="200" height="200" />
      </div>
    </div>

    <div class="product-details" *ngIf="!isEdit">
      <span class="product-catagory">Quantity: {{ item?.quantity }}</span>
      <h4>
        <a href="">{{ item?.name }}</a>
      </h4>
      <div class="product-bottom-details">
        <div class="product-price">{{ item?.price }}</div>
        <div class="product-links">
        </div>
      </div>
    </div>
    <div *ngIf="isEdit" class="container px-5 py-3">
      <p>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="{{item?.name}}"  [(ngModel)]="item.name"  />
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput placeholder="{{item?.price}}"  [(ngModel)]="item.price" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input matInput placeholder="{{item?.quantity}}" [(ngModel)]="item.quantity" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="item.description" [rows]="6"></textarea>
          </mat-form-field>
      </p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button *ngIf="isEdit" (click)=" isAddNewProduct? saveNewProduct() : editProduct()">Save</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
