<h2 mat-dialog-title>Dialog with elements</h2>
<mat-dialog-content>	
    <div class="product-card">
    <div class="badge">Hot</div>
    <div class="product-tumb">
        <img src="https://i.imgur.com/xdbHo4E.png" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">Women,bag</span>
        <h4><a href="">Women leather bag</a></h4>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus nostrum!</p> -->
        <div class="product-bottom-details">
            <div class="product-price">$230.99</div>
            <div class="product-links">
                <!-- <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a> -->
            </div>
        </div>
    </div>
</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>